
  
.pageTitle {
    color: #1f1f1f;
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 0;
}

.statusInfo {
    flex: 0 0 auto;
    width: 25%;
    padding-right: 24px;
}

.cardList {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.circle {
    background-color: rgba(255, 155, 68, 0.2);
    border-radius: 100%;
    float: left;
    color: #ff9b44;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
    text-align: center;
    width: 60px;
}

.statusDetails {
    text-align: right;
}

.cardBody {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.numbers {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.icons {
    position: relative;
    top: 5px;
}

.cardTitle {
    color: #1f1f1f;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}

.statusGraph {
    display: flex;
}

.graph {
    flex: 0 0 auto;
    width: 50%;
}

.makePadding {
    padding-right: 24px;
}

